## Yug Dev Bhandari (c0852634)
## LAB - 2

In [44]:
import pandas as pd
import numpy as np

In [45]:
import re

In [46]:
file =  open("YouTubeTrailerComments.txt" , encoding="Windows-1252")

review_list = []

d = "MovieID"
for i in file.read().rsplit(d): # divided the text by using "MovieID" as the delimeter
    review_list.append(d+i) , # added the delimeter back to apply regex later below 

review_list.pop(0) # removed the first element to avoid repitition while using regex below
len(review_list)

1000

## Extracting Movie IDs and the string that contains view, like, dislike, share and comment numbers

In [47]:
num_list = [] # empty list to record views, likes , dislikes, shares and comments
movie_list = [] # empty list to record movie IDs

In [48]:
for i in review_list:
    movie_id = re.match(r'MovieID::::\d+', i)
    if movie_id:
        movie_list.append(movie_id.group(0))
        
len(movie_list)

1000

In [49]:
for i in review_list:
    movie_info = re.search(r'\d+ \d+ \d+ \d+ \d+', i)
    if movie_info:
        num_list.append(movie_info.group(0))
        
len(num_list)

983

We notice above that the length of movie list is not the same as the movie info list which contains view, likes, etc. So we need a condition to drop those movie IDs which do not have an associated view, like, etc. info

In [50]:
## generating new movie info list based 

new_movie_info = []

for i in review_list:
    new_info_list = re.search(r'\d+ \d+ \d+ \d+ \d+', i)
    if new_info_list:
        new_movie_info.append(new_info_list.group(0))
    else:
        new_movie_info.append("0 0 0 0 0")
        
print(len(new_movie_info))

1000

In [51]:
print(len(new_movie_info))
print(len(movie_list))

1000
1000

### Requirememnt 1

### Generating a Dataframe from extracted data

In [52]:
df = pd.DataFrame({"MovieID": movie_list, "info": new_movie_info})

In [53]:
df

             MovieID                  info
0       MovieID::::1      128238 170 7 0 7
1       MovieID::::2    155561 135 14 0 74
2       MovieID::::3          2532 7 2 0 1
3       MovieID::::4          6827 9 1 0 0
4       MovieID::::5   330807 374 16 0 121
..               ...                   ...
995   MovieID::::996  252661 1080 32 0 111
996   MovieID::::997         5887 19 2 0 0
997   MovieID::::998         5755 10 1 0 0
998   MovieID::::999         6635 19 1 0 0
999  MovieID::::1000        27204 10 4 0 2

[1000 rows x 2 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MovieID  1000 non-null   object
 1   info     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [55]:
temp = df["info"].str.split(" ", n=4, expand=True)

In [56]:
df['vc'] = temp[0]
df['lc'] = temp[1]
df['dc'] = temp[2]
df['fc'] = temp[3]
df['cc'] = temp[4]

df.drop(columns="info", inplace=True)

df.head()

        MovieID      vc   lc  dc fc   cc
0  MovieID::::1  128238  170   7  0    7
1  MovieID::::2  155561  135  14  0   74
2  MovieID::::3    2532    7   2  0    1
3  MovieID::::4    6827    9   1  0    0
4  MovieID::::5  330807  374  16  0  121

In [57]:
df['id'] = df['MovieID'].str.extract(r'(\d+)')
df.drop(columns="MovieID", inplace=True)

In [58]:
df.head()

       vc   lc  dc fc   cc id
0  128238  170   7  0    7  1
1  155561  135  14  0   74  2
2    2532    7   2  0    1  3
3    6827    9   1  0    0  4
4  330807  374  16  0  121  5

In [59]:
df = df.reindex(columns=["id", "vc", "lc", "dc", "fc", "cc"])
df.head()

  id      vc   lc  dc fc   cc
0  1  128238  170   7  0    7
1  2  155561  135  14  0   74
2  3    2532    7   2  0    1
3  4    6827    9   1  0    0
4  5  330807  374  16  0  121

### Satisfying the assignment requirements

In [60]:
df["data"] = df["id"].astype(str)

In [61]:
df["data"] = df["data"].str.cat([df["vc"].astype(str), df["lc"].astype(str), df["dc"].astype(str), df["fc"].astype(str), df["cc"].astype(str)], sep=",")

In [62]:
df["data"]

0            1,128238,170,7,0,7
1          2,155561,135,14,0,74
2                3,2532,7,2,0,1
3                4,6827,9,1,0,0
4         5,330807,374,16,0,121
                 ...
995    996,252661,1080,32,0,111
996           997,5887,19,2,0,0
997           998,5755,10,1,0,0
998           999,6635,19,1,0,0
999         1000,27204,10,4,0,2
Name: data, Length: 1000, dtype: object

### Satisfying optional requirements

In [63]:
df.drop(columns="data", inplace=True)

In [64]:
df.head()

  id      vc   lc  dc fc   cc
0  1  128238  170   7  0    7
1  2  155561  135  14  0   74
2  3    2532    7   2  0    1
3  4    6827    9   1  0    0
4  5  330807  374  16  0  121